/* You can add global styles to this file, and also import other style files */
body{ 
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100vh;
  background: #e5e5e5;
}

.btn {
    padding: 0.469rem 1.143em;
    font-size: 0.875rem;
    font-weight: 700;
    background-color: #303030;
    color: #fff;
    border-color: #303030;
    border: 2px solid transparent;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-position: center;
    transition: background 0.3s;
        &:hover {
            background-color: #424242;
            color: #fff;
            border-color: #424242;
            cursor: pointer;
        }
        &:focus, &:active {
            background-color: #1a1a1a;
            color: #fff;
            border-color: #1a1a1a;
            outline: 0;
            box-shadow: none;
        }
}